<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Managment System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>

<!--navbar-->

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/products}">Product Managment System</a>


</nav>

<br>

<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h1 class="text-center">Create New Product</h1>
        <div class="card-body">
          <form th:action="@{/products}" th:object = "${product}" method="POST">


                 <div class="form-group">
                    <label>Product Name </label>
                    <input type="text" name="productName" field = "*{productName}"
                        class="form-control" placeholder="Enter Product Name" required/>
                 </div>

                 <div class="form-group">
                       <label>Expiration Date </label>
                     <input type="date" name="expirationDate" field = "*{expirationDate}"
                        class="form-control" placeholder="Enter Expiration Date"required/>
                 </div>

                 <div class="form-group">
                      <label>Price </label>
                      <input type="number" name="price" field = "*{price}"
                             class="form-control" placeholder="Enter Price"required/>
                 </div>

                 <div class="form-group">
                       <label>Money Currency</label>
                    <input type="text" name="moneyCurrency" field = "*{moneyCurrency}"
                         class="form-control" placeholder="Enter Money Currency"required/>
                 </div>

                  <div class="form-check form-switch" >
                      <input type="checkbox"  class="form-check-input" role="switch" id="active" th:name="active"  th:checked="${product.isActive()}" />
                      <p>Product is state</p>
                  </div>


              <div class="box-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>

          </form>

        </div>
      </div>

    </div>

</div>
</body>
</html>