<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Managment System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="products">Product Managment System</a>

</nav>


<div class="container">
    <div class="row">
        <h1>List of products</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href = "@{/productsCache/new}" class="btn btn-primary btn-sm mb-3">Add Product</a>
        </div>
    </div>



    <table class="table table-striped table-bordered">

        <thead class="table-dark">
        <tr>
            <th> Product Name </th>
            <th> Expiration date </th>
            <th> Price </th>
            <th> Money currency </th>
            <th> Product state</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each = "product: ${productCache}">
            <td th:text = "${product.productName}"></td>
            <td th:text = "${product.expirationDate}"></td>
            <td th:text = "${product.price}"></td>
            <td th:text = "${product.moneyCurrency}"></td>
            <!--            <td th:text = "${product.active}"> </td>-->
            <td>
                <form th:action="@{/products/{id} (id=${product.id})}" th:object = "${product}" method="POST">
                    <div class="form-group">
                        <div class="form-check form-switch" >
                            <label th:switch="${product.isActive()}">
                                <p th:case="true"> User is active</p>
                                <p th:case="false">User is passive</p>
                            </label>
                            <input type="checkbox"  class="form-check-input" role="switch" id="active" th:name="active"  th:checked="${product.isActive()}" onChange="this.form.submit()" />
                        </div>
                    </div>
                </form>
            </td>



        </tr>

        </tbody>


    </table>
</div>

</body>
</html>